body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    overflow: auto;
}

.container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 60vh; /* Set max-width to 60vh when screen width is very wide */
    width: 80%; /* Adjust width as needed when screen width is shrunken */
}

@media screen and (min-width: 1200px) {
    /* Adjust width for screens wider than 1200px */
    .container {
        max-width: 60vh;
    }
}

@media screen and (max-width: 800px) {
    /* Adjust width for screens narrower than 800px */
    .container {
        width: 80%;
    }
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



.h3-container {
    margin: 20px 0;
}
