body{
	background-color:#FFFFFF;
	font-family: 'Radio Canada Big', cursive;
	font-weight: 500;
	margin:0;
	padding:0;
	overflow:hidden;
	font-size:24px;
	flex-direction: column;
	min-height: 100vh;
}

#toplogo img{
	display:block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	height:auto;
}
header {
	overflow: hidden;
	background-color: #F5F5F5;
	color: black;
	width: 100%;
	max-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 30px solid #5b92ee;
	padding-bottom: 20px;
	padding-top: 10px;
	position: relative; /* Ensure the header has a positioning context */
}
@media (max-width: 800px) {
	header {
		padding-top: 110px;
		padding-bottom: 110px;
	}
}


.overlapping-content {
	position: absolute; /* Position the overlapping content absolutely */
	top: 10px; /* Adjust top value to position content inside the header */
	left: 10px; /* Adjust left value to position content inside the header */
	transform: translateY(0px); /* Move the content down to overlap the border */
}
.overlapping-content h1 {
	font-family: 'Parisienne', sans-serif;
	font-size: 64px;
}


a{
	padding-top:20px;
	/*font-family: 'Borel', cursive;*/
	color:#2B78E4;
	text-decoration: none;
}
a:active{
	color:#2B78E4;

}
.button-65 {
	appearance: none;
	backface-visibility: hidden;
	background-color: #2e7ff1;
	border-radius: 10px;
	border-style: none;
	box-shadow: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Radio Canada Big', sans-serif;
	font-weight: 600;
	font-size: 30px;
	height: 50px;
	width: auto;
	letter-spacing: normal;
	line-height: 50px; /* Match this to the height of the button */
	outline: 3px solid #ffffff; /* Added blue outline */
	overflow: hidden;
	padding: 0 25px; /* Adjusted padding to fine-tune text centering */
	position: relative;
	text-align: center; /* Ensure text is centered */
	text-decoration: none;
	transform: translate3d(0, 0, 0);
	transition: all .3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: top;
	white-space: nowrap;
	margin: 5px; /* Added margin for spacing between buttons */
}

/* Menu button */
.button-65:hover {
	color: #5b9ffb;
	background-color: #ffffff;
	outline: 3px solid #5b9ffb; /* Changed outline color on hover */
	box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
	opacity: 1;
	transform: translateY(0);
	transition-duration: .35s;
}
.button-65:hover:after {
	opacity: .5;
}
.button-65:active {
	box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
	transform: translateY(2px);
	transition-duration: .35s;
}
.button-65:active:after {
	opacity: 1;
}
@media (min-width: 800px) {
	.button-65 {
		padding: 0 13px; /* Adjusted padding to fine-tune text centering for larger screens */
		width: 140px;

		line-height: 50px; /* Ensure consistency across different screen sizes */
	}
}
@media (max-width: 800px) {
	.button-65 {
		height: 60px;
		padding: 0 10px; /* Adjusted padding to fine-tune text centering for smaller screens */
		font-size: 30px;
		width: 50vw; /* Adjust width to 85% */
		line-height: 50px; /* Ensure consistency across different screen sizes */
		display: block; /* Make the buttons stack on top of each other */
		margin: 10px auto; /* Center the buttons and add space between them */
	}
	#navigation {
		margin-right: 40px;
	}

	#navigation ul {
		padding: 0;
		list-style-type: none; /* Remove default list styling */
	}
	#navigation ul li {
		width: 100%; /* Ensure the list items take full width */
	}
}


/* Social media logos */
#socialMediaLogos {
	right: 0; /* Aligns the social media logos to the right */
	display: flex;
	justify-content: center;
	padding-left: 40px;
}
#socialMediaLogos img:hover{
	opacity: 0.8;
}
#socialMediaLogos img {
	margin: 10px;
	padding-bottom: 10px;
	width: auto;
	height: 40px;
	transition: opacity 0.3s ease;
}
@media (max-width: 800px) {
	#socialMediaLogos {
		flex-direction: column; /* Stack icons vertically */
		align-items: center; /* Center icons horizontally */
		padding: 0;

	}

	#socialMediaLogos a {
		margin: 10px 0; /* Adjust the spacing between stacked icons */
		padding-top: 0;
		padding-left: 20px;
	}
}

/*Project sector header*/
.sector {
	background-color: #2b78e4;
	width: 50%; /* Set the width of the div */
	margin: 20px auto; /* Center the div horizontally */
	padding: 20px;
	border-radius: 100px;
	max-width: 900px;
}
@media screen and (max-width: 800px) {
	.sector{
		width: 80%;
	}

}

.sector h1{
	color: white;
	text-align: center;
}


/*/////////////////////*/

footer {
	background-color: #ededed;
	color: #4e4e4e;
	text-align: center;
	padding: 20px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
footer p{
	font-size: 24px;
	font-family: Arial, serif;
}

footer .contact-info {
	display: flex;
	align-items: center;
	gap: 30px; /* Space between contact info items */
}

footer .contact-info p,
footer .contact-info a {
	margin: 0;
}

footer .contact-info a {
	color: #4e4e4e;
	text-decoration: none;
}

footer .contact-info a:hover {
	text-decoration: underline;
}

footer .social-media {
	display: flex;
	align-items: center;
	gap: 20px; /* Space between social media icons */
	margin-left: 40px; /* Space between contact info and social media */
	padding-bottom:20px
}

footer .social-media a {
	margin: 0;
}

footer .social-media img{
	transition: opacity 0.3s ease;
}
footer .social-media img:hover{
	opacity: 0.8;
}

footer .social-media img {
	width: 40px;
	height: 40px;
}


