body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: 'Radio Canada Big', serif;
}

h1 {
	margin: 0;
}


.intro h1{
	text-align: center;
}

#gallery {
	float: left;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: 0; /* No gap between grid items */
	margin: 5%;
	font-size: 0; /* Set font size to 0 to remove any space */
}

#gallery img {
	max-width: 100%;
	height: auto;
	display: block; /* Ensure images are block elements */
	margin: 0; /* Remove any default margin */
	padding: 0; /* Remove any default padding */
}

#gallery img:hover {
	filter: brightness(80%);
}

.imageContainer {
	position: relative;
	margin: 0;
	padding: 0; /* Remove any default padding */
	font-size: initial; /* Reset font size for child elements */
}

.imageText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	border-radius: 5px;
}

h3 {
	padding-left: 40px;
}
